
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
#container {
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
}


/* 헤더 영역 - 로고와 내비바 */

header {
    width: 100%;
    height: 180px;
    background-color: #fff
}

#welcome {
    /* text-align: center; */
    background-color: rgb(42, 9, 88);
    /* height: 100px; */
    color: white;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo {
    float: left;
    /* width: 10%; */
    /* height: 150px; */
    /* line-height: 100px; */
    margin-left: 170px;
    /* margin-top: 3px; */
    /* padding-top: 10px; */
}
#logoImg {
    margin-top: 3px;
    width: 150px;
}
#logo a {
    width: 500%;
    height: 100%;
}

.search {
    width: 560px;
    height: 100px;
    float: left;
    padding-top: 60px;
    margin-left: 90px;
}
.search input {
    width: 80%;
    height: 40px;
    font-size: 18px;
    border: 2px rgb(75, 4, 89) solid;
    /* border-bottom: 1px black solid; */
}
.search button {
    font-size: 18px;
    border-color: blueviolet ;
    background-color: white;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    color: #630b74;
    cursor: pointer;
}
.member1 {
    text-align: center;
    float: left;
    font-size: 0.7em;
    margin-left: -10px;
    margin-right: 15px;
    margin-top: 20px;
    color: #515050;
    font-weight: bold;
    border-right: 1px solid #464444;
    padding: 0px 8px;
}
.member1:last-child {
    border: none;
}
#headlayer {
    float: left;
    margin-top: 35px;
}
#headlayer > a >  img {
    width: 25px;
    height: 25px;
}
#headlayer > a {
    margin-left: 25px;
}


/* 내비바 */
nav {
    float: left;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
    background-color: white;
}
#topMenu {
    height: 100%;
    /* margin-bottom: 40px; */
    /* background-color: rgb(231, 245, 246); */
}
#topMenu > li {
    float: left;
    position: relative;
    text-align: center;
    margin-left: 60px; 
    margin-right: 60px;
}
#topMenu > li > a {
    display: inline-block;
    font-size: 1.0em;
    color: black;
    font-weight: 600;
    padding: 8px 0px 0px 0px;
}
#topMenu > li > a:hover {
    color: rgb(53, 8, 136);
    text-shadow: 0 -2px #222;
}
#menuicon {
    float: left;
    /* margin-top: 9px; */
    margin-right: 10px;
}


/* 본문 */

.contents {
    width: 1200px;
    height: 600px;
    /* background-color: aqua; */
    /* margin: 50px auto; */
}



.contents > h2 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 210px;
}
.contents > hr {
    width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: contents; */
    margin: auto;
}

#mypage1 {
    /* border: 1px solid black; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left {
    border: 2px solid #630b74;
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 10px;
}
#top {
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
    height: 50%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
#top > h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}
#bottom {
    /* border: 1px solid black; */
    text-align: center;
    height: 50%;
}
#bottom1 {
    /*border: 1px solid black;*/
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottom1 > button {
    width: 130px;
    height: 30px;
    margin: auto;
    background-color: #f3e5f6;
    color: white;
    border: none;
}
#bottom2 {
    /* border: 1px solid black; */
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottom2 > button {
    width: 130px;
    height: 30px;
    margin: auto;
    background-color: #f3e5f6;
    color: white;
    border: none;
}

/* #right {
    border: 1px solid black;
    width: 400px;
    height: 300px; */
    /* float: left; */
    /* margin-left: 10px;
} */

#right {
    width: 400px;
    height: 300px;
    border: 3px solid #630b74;
    text-align: center;
    height: 50%;
}
#right1 {
    /* border: 1px solid black; */
    text-align: center;
    /* height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 21.5px;
}
#right1 > a {
    border: 2px solid #630b74;
    width: 170px;
    height: 70px;
    margin: 0 auto;
    background-color: white;
    color: black;
    /* border: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#right2 {
    /* border: 1px solid black; */
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#right2 > a {
    border: 2px solid #630b74;
    width: 170px;
    height: 70px;
    margin: 0 auto;
    background-color: white;
    color: black;
    /* border: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#right3 {
    /* border: 1px solid black; */
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21.5px;
    margin-top: 20px;
}
#right3 > a {
    border: 2px solid #630b74;
    width: 170px;
    height: 70px;
    margin: 0 auto;
    background-color: white;
    color: black;
    /* border: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#mypage2 {
    margin-top: 30px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    /* margin: auto; */
}















/* 푸터 영역 */


footer {
    width: 1200px;
    height: 150px;
    border-top: 2px solid #222 ;
    margin-top: 100px;
}
#bottomMenu {
    width: 100%;
    height: 20px;
    /* margin-left: 60px; */
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}
#bottomMenu ul {
    margin-top: 30px;
}
#bottomMenu ul li {
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #ddd;
}
#bottomMenu ul li:last-child {
    border: none;
}
#bottomMenu ul li a, #bottomMenu ul li a:visited {
    font-size: 15px;
    color: #666;
}


#bottomMenu2 {
    width: 100%;
    height: 20px;
    margin-top: 50px;
    font-size: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}
#bottomMenu2 ul {
    margin-top: 20px;
}
#bottomMenu2 ul li {
    float: left;
    padding: 5px 15px;
    border-right: 1px solid #ddd;
    color: #666;
}
#bottomMenu2 ul li:last-child {
    border: none;
}