
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
#container {
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
}


/* 헤더 영역 - 로고와 내비바 */

header {
    width: 100%;
    height: 180px;
    background-color: #fff
}

#welcome {
    /* text-align: center; */
    background-color: rgb(42, 9, 88);
    /* height: 100px; */
    color: white;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo {
    float: left;
    /* width: 10%; */
    /* height: 150px; */
    /* line-height: 100px; */
    margin-left: 170px;
    /* margin-top: 3px; */
    /* padding-top: 10px; */
}
#logoImg {
    margin-top: 3px;
    width: 150px;
}
#logo a {
    width: 500%;
    height: 100%;
}

.search {
    width: 560px;
    height: 100px;
    float: left;
    padding-top: 60px;
    margin-left: 90px;
}
.search input {
    width: 80%;
    height: 40px;
    font-size: 18px;
    border: 2px rgb(75, 4, 89) solid;
    /* border-bottom: 1px black solid; */
}
.search button {
    font-size: 18px;
    border-color: blueviolet ;
    background-color: white;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    color: #630b74;
    cursor: pointer;
}
.member1 {
    text-align: center;
    float: left;
    font-size: 0.7em;
    margin-left: -10px;
    margin-right: 15px;
    margin-top: 20px;
    color: #515050;
    font-weight: bold;
    border-right: 1px solid #464444;
    padding: 0px 8px;
}
.member1:last-child {
    border: none;
}
#headlayer {
    float: left;
    margin-top: 35px;
}
#headlayer > a >  img {
    width: 25px;
    height: 25px;
}
#headlayer > a {
    margin-left: 25px;
}


/* 내비바 */
nav {
    float: left;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
    background-color: white;
}
#topMenu {
    height: 100%;
    /* margin-bottom: 40px; */
    /* background-color: rgb(231, 245, 246); */
}
#topMenu > li {
    float: left;
    position: relative;
    text-align: center;
    margin-left: 60px; 
    margin-right: 60px;
}
#topMenu > li > a {
    display: inline-block;
    font-size: 1.0em;
    color: black;
    font-weight: 600;
    padding: 8px 0px 0px 0px;
}
#topMenu > li > a:hover {
    color: rgb(53, 8, 136);
    text-shadow: 0 -2px #222;
}
#menuicon {
    float: left;
    /* margin-top: 9px; */
    margin-right: 10px;
}


/* 본문 */

.contents {
    width: 1200px;
    height: 550px;
    /* background-color: aqua; */
    /* margin: 50px auto; */
}

#shippingBanner img {
    width: 900px;
    height: 200px;
    /* align-items: center;
    justify-content: center; */
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}

#shippingL {width: 400px; height: 300px; margin-left: 175px; margin-right: 25px; display: flex; margin-top: 30px; float: left;}
.free {margin-top: 30px;}
.free h4 {margin-left: 70px;}
.free table {width: 400px; margin: 0 auto; border-collapse: collapse; table-layout: fixed; margin-top: 20px; float: left;}
.free th {border-top: 3px solid #5a079e; border-bottom: 3px solid #5a079e; font-size: 0.85em;}
.free td {border-bottom: 1px solid gray; font-size: 0.7em;}
.free .col1 {width: 20%;}
.free .col2, .free .col3 {width: 40%;}
.free th, .free td {padding: 10px;}
.free td + td {text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.free td, .free td + td + td {text-align: center;}
.free a {text-decoration: none; color: rgb(80, 80, 80);}
.free a:hover {color: #6A24FE;}
.free a + span {font-size: .7em; color: red}
.free .face {width: 12px;}
.free .button {width: 700px; margin: 20px auto 5px; text-align: right;}
.free .button a {
    background: #6A24FE; border-radius: 3px;
    padding: 6px 8px; margin: 25px; text-decoration: none; color: white;
}
.free .number {width: 350px; margin: 0 auto; margin-top: 40px;}
.free .button a:hover {color: black;}
.free .number > a {width: 350px; margin: 0 auto;}
.free .number::after {content: ''; display: block; clear: both;}
.free .number > a {
    width:30px; height: 26px; background: rgb(188, 223, 236); border-radius: 5px;
    text-align: center; margin: 10px 10px 0px; padding: 4px 0 0; float: left;
}
.free .number .select {background: rgb(253, 198, 94); text-decoration: underline;}




#shippingR {width: 400px; height: 300px;  margin-left: 25px; margin-right: 25px; display: flex; margin-top: 30px;}
#map {margin-top: 30px;}
#map h4 {margin-left: 45px; float: left;}
.searchmap {
    width: 400px;
    height: 50px;
    float: left;
    /* padding-top: 60px; */
    /* padding-top: 900px; */
}
.searchmap input {
    width: 80%;
    height: 25px;
    font-size: 0.8em;
    border: 2px rgb(75, 4, 89) solid;
    margin-top: 10px;
    margin-left: 25px;
    /* border-bottom: 1px black solid; */
}
.searchmap button {
    font-size: 18px;
    border-color: blueviolet ;
    background-color: white;
    width: 35px;
    height: 25px;
    font-size: 0.7em;
    border-radius: 15px;
    color: #630b74;
    cursor: pointer;
}
#mapgogle {
    width: 370px;
    height: 170px;
    margin-left: 15px;
}
#mapgogle iframe {
    width: 100%;
    height: 100%;
    border:0;
}











/* 푸터 영역 */


footer {
    width: 1200px;
    height: 150px;
    border-top: 2px solid #222 ;
    margin-top: 100px;
}
#bottomMenu {
    width: 100%;
    height: 20px;
    /* margin-left: 60px; */
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}
#bottomMenu ul {
    margin-top: 30px;
}
#bottomMenu ul li {
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #ddd;
}
#bottomMenu ul li:last-child {
    border: none;
}
#bottomMenu ul li a, #bottomMenu ul li a:visited {
    font-size: 15px;
    color: #666;
}


#bottomMenu2 {
    width: 100%;
    height: 20px;
    margin-top: 50px;
    font-size: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}
#bottomMenu2 ul {
    margin-top: 20px;
}
#bottomMenu2 ul li {
    float: left;
    padding: 5px 15px;
    border-right: 1px solid #ddd;
    color: #666;
}
#bottomMenu2 ul li:last-child {
    border: none;
}